:root {
  line-height              : 1.5;
  font-weight              : 400;

  color                    : #5E81AC;
  background               : #1B1F26;

  font-synthesis           : none;
  text-rendering           : optimizeLegibility;
  -webkit-font-smoothing   : antialiased;
  -moz-osx-font-smoothing  : grayscale;
  -webkit-text-size-adjust : 100%;
}

* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family              : "Barlow", sans-serif;

}

a {
  color: inherit;
  text-decoration : inherit;
}

a:hover {
  color : #81A1C1;
}
a:active {
  color: #A3BE8C
}

body {
  width      : min(1196px, 100%);
  margin     : auto;
  min-height : 100vh;
}

button {
  border           : 1px solid transparent;
  background-color : #ECEFF4;
  color            : #5E81AC;
  cursor           : pointer;
  transition       : all 0.25s;
  font-weight      : 400;
}

button:hover {
  background-color : #D8DEE9;
}

button:active {
  background : #4C566A;
}
