:root {
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #81A1C1;
  background : #1B1F26;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding : 0;
  box-sizing: border-box;
}

a {
  color: #88C0D0;
  text-decoration: inherit;
}
a:hover {
  color: #8FBCBB;
}

body {
  width: 100%;
  min-height: 100vh;
}

button {
  border: 1px solid transparent;
  background-color: #D8DEE9;
  color: #5E81AC;
  cursor: pointer;
  transition: all 0.25s;
  font-weight : 400;
}
button:hover {
  background-color: #ECEFF4;
}
button:active {
  background : #4C566A;
}
