.navbar{
  width : 100%;
  height: 80px;
  padding : 1em 2em;

  display : flex;
  align-items : center;
  justify-content : space-between;
}

.navbar__title {
  font-family : "Tilt Prism", cursive;
}

.navbar__addTable {
  border-radius: .6rem;
  min-width: 36px;
  height: 36px;
  display : flex;
  justify-content : center;
  align-items : center;
  font-size : 1.5rem;
  padding : .4em;
  font-family : inherit;
}